
:root{
    --body-color:#edf2f6;
    --red-color: #ff5e3a;
    --blue-dark-color:#3f4257;
    --blue-bale:#494c62;
    --blue-light:#38a9ff;
    --purple-color:#7c5ac1;
    --text-color:#a8acc0;
    --back-icon-color:#989dbd;
    --icon-color:#a0a5c3;
    --bold-text:#515365;
    --black-color:#000000;
    --white-color:#fff;
    --nav-height:4.3rem;
}